extends admin-layout

block articleHeader
  .container.admin-header
    .space-between
      h1 Vehicle Listings      
      a(href="/admin/add").button.no-margin Add vehicle

block articleContent
  article.full-width
    .listing
      .space-between
        h4.no-margin Filter Results
        p.no-margin Showing #[strong= vehicles.length] vehicles
      form(id="filter").listing-filter
        .listing-filter-group        
          label Category:
          select(name="category")
            option(value="all" selected=(query.category === "all")) All
            option(value="van-small" selected=(query.category === "van-small")) Small Van
            option(value="van-medium" selected=(query.category === "van-medium")) Medium Van
            option(value="van-large" selected=(query.category === "van-large")) Large Van
            option(value="van-luton" selected=(query.category === "van-luton")) Luton Van
            option(value="car-economy" selected=(query.category === "car-economy")) Economy Car
            option(value="car-saloon" selected=(query.category === "car-saloon")) Saloon Car
            option(value="car-suv" selected=(query.category === "car-suv")) SUV
            option(value="car-truck" selected=(query.category === "car-truck")) Truck 
          label Sort:
          select(name="sortBy")
            option(value="last-modified" selected=(query.sortBy === "last-modified")) Last Modified
            option(value="name" selected=(query.sortBy === "name")) Name
          input(type="text" placeholder="Search" name="search" value=( query.search ? query.search : ""))
        span
          a.button.button-grey(href="/admin") Reset
          button(type="submit").button.button-secondary Filter
      .listing-results
        if vehicles.length > 0
          each vehicle in vehicles
            +vehicleListing(vehicle)
        else
          h5 No vehicles found.
        
      
block sidebar
block services