extends layout

block articleHeader
  .container
    .article-header
      h1 404 - Not Found

block articleContent
  article
    p We can't see to find the page you're looking for. Please contact us if there should be something here!
    a(href="/").button.button-main Homepage
    a(href="/contact").button.button-secondary Contact Us