extends layout

block coverImage
  .cover-image-container.row
    picture
      source(media="(max-width: 767px)" srcset="/images/cover-images/custom-commercials-600.jpg 1x")
      img(src="/images/cover-images/custom-commercials.jpg" alt="Cover Image - Van Conversions")

block articleHeader
  .container
    .article-header
      h1 Van Conversions &amp; Custom Vehicles

block articleContent
  article
    p Experts in custom van conversions and joinery, MSD Custom Commercials can build your dream van for working, camping, travelling, surfing and action-packed weekends. Secure your van with a bulk head and tinted windows, or toughen up the interior with ply-lined storage. Check out our #[a(href="https://www.facebook.com/msdcustomcommercials" target="_blank") Facebook] and #[a(href="https://www.instagram.com/msdcustomcommercials" target="_blank") Instagram] feeds to see what we’ve been up to recently.
    img(src="/images/page-content/van-conversions/vw-transporter-watermark.jpg", alt="Nissan Skyline")
    h4 Van Conversion Services
    p Experienced in Volkswagen and Ford van conversions, Our dedicated garage contains state-of-the-art equipment and laser cutting facilities to handle any request. Call us today and find out how we can customise your vehicle.
    ul.list-ticks
      li Fully bespoke conversions
      li Ply-lining
      li Bulk heads
      li Custom joinery &amp; units
      li Window tinting
      li Air suspension
      li Electronics &amp; TVs
      li DVD players &amp; stereos
      li Beds &amp; camping
      li Dashboards
      li Animal transport
      li Tow bars &amp; roof racks

block grey-strip
  .gallery          
    img.gallery-image(src="/images/page-content/van-conversions/gallery-vw-airlift-suspension.jpg", alt="Airlift suspension - VW Transporter")
    img.gallery-image(src="/images/page-content/van-conversions/gallery-cutter.jpg", alt="Large cutting machine")
    img.gallery-image(src="/images/page-content/van-conversions/gallery-m3-custom-seats.jpg", alt="BMW M3 racing seat")
    img.gallery-image(src="/images/page-content/van-conversions/gallery-cutting-wood.jpg", alt="Table saw cutting wood")
    img.gallery-image(src="/images/page-content/van-conversions/gallery-m3-roll-cage.jpg", alt="BMW M3 roll cage")
    img.gallery-image(src="/images/page-content/van-conversions/gallery-wood-panels.jpg", alt="Wood panels")
    img.gallery-image(src="/images/page-content/van-conversions/gallery-table-saw.jpg", alt="Table saw")
    img.gallery-image(src="/images/page-content/van-conversions/gallery-m3-engine-bay.jpg", alt="M3 engine bay")
    img.gallery-image(src="/images/page-content/van-conversions/gallery-marking-templates.jpg", alt="Marking wooden templates")
    img.gallery-image(src="/images/page-content/van-conversions/gallery-mustang-engine-bay.jpg", alt="Mustang engine bay")
    img.gallery-image(src="/images/page-content/van-conversions/gallery-vw-transporter.jpg", alt="VW TRansporter")
    img.gallery-image(src="/images/page-content/van-conversions/gallery-mustang-on-ramp.jpg", alt="Car on ramp")

block services-cards
  +serviceCardHire
  +serviceCardSales
  +serviceCardLeasing
  +serviceCardServicing  