extends layout

block coverImage
  .cover-image-container.row
    picture
      source(media="(max-width: 767px)" srcset="/images/cover-images/van-conversion-600.jpg 1x")
      img(src="/images/cover-images/van-conversion.jpg" alt="Cover Image - Van Conversions")

block articleHeader
  .container
    .article-header
      h1 Van Conversions &amp; Custom Vehicles

block articleContent
  article
    p Experts in custom van conversions and joinery, MSD can build your dream van for camping, travelling, surfing and action-packed weekends. Secure your van with a bulk head and tinted windows, or toughen up the interior with ply-lined storage. Check out our #[a(href="https://www.facebook.com/msdcustomcommercials" target="_blank") Facebook] and #[a(href="https://www.instagram.com/msdcustomcommercials" target="_blank") Instagram] feeds to see what we’ve been up to recently.
    img(src="/images/page-content/van-conversions/vw-transporter.jpg", alt="Nissan Skyline")
    h4 Van Conversion Services
    p Our dedicated garage contains state-of-the-art equipment and laser cutting facilities to handle any request. Call us today and find out how we can customise your vehicle.
    ul.list-ticks
      li Fully bespoke conversions
      li Ply-lining
      li Bulk heads
      li Custom joinery &amp; units
      li Window tinting
      li Air suspension
      li Electronics &amp; TVs
      li DVD players &amp; stereos
      li Beds &amp; camping
      li Dashboards
      li Animal transport
      li Tow bars &amp; roof racks

block grey-strip
  .space-between
    div.space-between-group
      img(src="/images/icons/instagram.png").instagram-logo
      h4.no-margin @msdcustomcommercials
    a(href="https://www.instagram.com/msdcustomcommercials" target="_blank").button.no-margin Follow on instagram
  #instafeed.row

block services-cards
  +serviceCardHire
  +serviceCardSales
  +serviceCardLeasing
  +serviceCardServicing  
        
block extraFooterScripts
  script
    include scripts/dist/instafeed-lib.js
    include scripts/dist/instafeed-min.js