extends layout

block articleHeader
  .container
    .article-header
      h1 Error

block articleContent
  article
    p Sorry, there was an error on our servers. Please contact us and let us know.
    a(href="/").button.button-main Homepage
    a(href="/contact").button.button-secondary Contact Us