extends layout

block articleHeader
  .container
    .article-header.quote-shift
      h1 Car &amp; Van Hire in #[span.no-break Stoke-on-Trent]
      h3 from £50 per day
          
block articleContent
  article.quote-shift
    p MSD Vehicle Solutions has offered flexible car and van #[a(href="/") hire], #[a(href="/sales") sales] and #[a(href="/leasing") leasing] for personal and commercial use across Staffordshire since 1986. Today we offer a wide range of bespoke vehicle #[a(href="/modification") modification], #[a(href="/servicing") servicing] and #[a(href="/van-conversions") van conversion] services. Whatever the job, call us or drop in today to see what we have to offer.
    .split-container.vertical-padding
      .split
        img(src="/images/page-content/sales/cars-for-sale.jpg", alt="Lineup of cars for hire")
      .split
        h3 Cars for hire
        p Rent the perfect car for your next family holiday, business trip or weekend adventure.
        a(href="/hire/cars").button See car deals
    .split-container.vertical-padding
      .split
        img(src="/images/page-content/sales/vans-for-sale.jpg", alt="Lineup of vans for hire")
      .split
        h3 Vans for hire
        p Choose from a wide range of vans for furniture shopping, delivering parcels or moving home.
        a(href="/hire/vans").button See van deals
    h4 Why hire with MSD?
    p As a proud family business with over 30 years experience, we offer only the highest quality vehicles and flexible contracts to ensure that you receive the best possible service.
    ul.list-ticks
      li Short and long term hire
      li Brand new '67 registrations
      li Clean, low mileage vehicles
      li Open 7 days a week
      li Business and personal use
      li Tough ply-lined vans
      li Simple all-in-one pricing
      li Reliable family-run service

block quoteForm
  .instant-quote
    h3 Instant Hire Quote
    form.instant-quote-form(name="instant-quote")
      .block
        label Vehicle Type
        .options(name="vehicle-type")
          input(type="button" name="van" value="Van" checked)
          input(type="button" name="car" value="Car")
      .block
        label Vehicle Size
        a.small(href="/van-sizes" target="_blank") Size guide
        .options.stretch(name="vehicle-size")
          input(type="button" name="small" value="Small" checked)
          input(type="button" name="medium" value="Medium")
          input(type="button" name="large" value="Large")
          input(type="button" name="x-large" value="X Large")
      .block
        label Days
        .options.stretch(name="days")
          input(type="button" name="1-2" value="1-2" checked)
          input(type="button" name="3-7" value="3-7")
          input(type="button" name="8-14" value="8-14")
          input(type="button" name="15+" value="15+")
      .result
        p Prices start from
        output £50
        span.per-day /day

block grey-strip
  .article-strip
    h3 Promoted Hire Deals
    .promoted-items.row
      .cards
        +vehicleCard
        +vehicleCard
        +vehicleCard
      .row.center-content
        a(href="/").button.no-margin See all vehicles

block extraFooterScripts
  script
    include scripts/dist/quoteForm-min.js