extends layout

block articleHeader
  .container
    .article-header
      h1 Car &amp; Van Hire #[br] in Stoke on Trent
          
block articleContent
  article.quote-shift
    p Moorland Self Drive has offered flexible car and van #[a(href="/") hire], #[a(href="/sales") sales] and #[a(href="/leasing") leasing] for personal and commercial use across Staffordshire since 1986. Today we offer bespoke vehicle #[a(href="/customs") modifications] and #[a(href="/servicing") servicing] through our on-site MSD Custom Commercials garage. Whatever the job, call us or drop in today to see what we have to offer.
    .split-container.vertical-padding
      .split
        img(src="/images/page-content/sales/cars-for-sale.jpg" alt="Lineup of cars for hire")
      .split
        h3 Cars for hire
        p Hire the perfect car for your next family holiday, business trip or weekend adventure.
        a(href="/vehicles/hire/cars").button See car deals
    .split-container.vertical-padding
      .split
        img(src="/images/page-content/sales/vans-for-sale.jpg", alt="Lineup of vans for hire")
      .split
        h3 Vans for hire
        p Choose from a range of self drive vans for hire, great for furniture shopping, delivering parcels or moving home.
        a(href="/vehicles/hire/vans").button See van deals
    h4 Why hire with Moorland Self Drive?
    p As a proud family business with over 30 years experience, we offer only the highest quality, low-mileage vehicles with flexible contracts to ensure that you receive the best possible service.
    ul.list-ticks
      li Short and long term hire
      li Brand new registrations
      li Clean, low mileage vehicles
      li Open 7 days a week
      li Business and personal use
      li Tough ply-lined vans
      li Simple all-in-one pricing
      li Reliable family-run service

block quoteForm
  .instant-quote
    h3 Instant Hire Quote
    form.instant-quote-form(name="instant-quote")
      .block
        label Vehicle Type
        .options(name="vehicle-type")
          input(type="button" name="van" value="Van" checked)
          input(type="button" name="car" value="Car")
      .block
        label Van Size
        a.small(href="/van-sizes" target="_blank") Size guide
        .options.stretch(name="van-size")
          input(type="button" name="van-small" value="Small" checked)
          input(type="button" name="van-medium" value="Medium")
          input(type="button" name="van-large" value="Large")
          input(type="button" name="van-luton" value="Luton")
      .block.hidden
        label Car Size
        .options.stretch(name="car-size")
          input(type="button" name="car-economy" value="Economy" checked)
          input(type="button" name="car-saloon" value="Saloon")
          input(type="button" name="car-suv" value="SUV")
          input(type="button" name="car-truck" value="Truck")
      .block
        label Days
        .options.stretch(name="days")
          input(type="button" name="1-2" value="1-2" checked)
          input(type="button" name="3-7" value="3-7")
          input(type="button" name="8-14" value="8-14")
          input(type="button" name="15+" value="15+")
      .result
        p Prices start from
        output £50
        span.per-day /day
        p.no-margin inc. VAT

block promoted-items
  if Object.keys(vehicles).length > 0
    .container
      h3 Latest Hire Deals
    section.grey
      .container
        .promoted-items.row
          .cards
            each vehicle in vehicles
              +vehicleCard(vehicle, "hire")
          .row.center-content
            a(href="/vehicles/hire/vans").button.no-margin See all vehicles  

block extraFooterScripts
  script
    include scripts/dist/quoteForm-min.js