include _mixins/_serviceCardMods
include _mixins/_serviceCardSales
include _mixins/_serviceCardHire
include _mixins/_serviceCardConversions
include _mixins/_serviceCardServicing
include _mixins/_vehicleCard

doctype html
html
  head
    title= `${title || "Car & Van Hire in Stoke on Trent"} | MSD Vehicle Solutions`
    meta(name="description" content=`${description || "Flexible Car & Van Hire, Sales & Leasing for Personal & Commercial Use Across Staffordshire Since 1986. Open 7 Days Per Week, Call Us Or Drop In Today."}`)
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="icon" type="image/png" href="/images/favicon/favicon.png")
    link(rel='stylesheet', href='/css/style.css')
  body
    block nav
      nav.main-nav.row
        .main-nav-container.container
          a(href="/")
            img.main-nav-main-logo(src="/images/logos/msd-logo-white.svg", alt="MSD Vehicle Solutions Logo")
          ul
            a(href="/" class=(currentPath === "/" ? 'active' : ''))
              li Hire
            a(href="/sales" class=(currentPath === "/sales" ? 'active' : ''))
              li Sales
            a(href="/leasing" class=(currentPath === "/leasing" ? 'active' : ''))
              li Leasing
            a(href="/van-conversions" class=(currentPath === "/van-conversions" ? 'active' : ''))
              li Conversions
            a(href="/modifications" class=(currentPath === "/modifications" ? 'active' : ''))
              li Modifications
            a(href="/servicing" class=(currentPath === "/servicing" ? 'active' : ''))
              li Servicing
            a(href="/contact" class=(currentPath === "/contact" ? 'active' : ''))
              li Contact
          a(href="tel: +441782517782") 
            .call-to-book
              span.call-to-book-text CALL US TODAY
              span.call-to-book-number 01782 517782

    block top-flash
      .top-flash
        .container
          h4 Website launch deal: 10% off all vehicle hire until Jan 31st!
          a(href="/hire/vans").button.button-small See vehicles

    block coverImage
      .cover-image-container.row(style="background-image: url('/images/cover-images/van-hire.jpg');")

    block articleHeader
      .container
        .article-header
          h1 Small Heading
          h3 Large Heading

    section.container.content
      block articleContent
        article
          p Article content

      block sidebar
        aside
          block quoteForm
            //- Instant quote form goes here

          a(href="tel: +441782517782") 
            .call-to-book
              span.call-to-book-text CALL US TODAY
              span.call-to-book-number 01782 517782

          .sidebar-block
            h4 Opening Hours
            ul.opening-times
              li
                span.day Mon - Fri
                span.time 8:30 - 18:00
              li
                span.day Sat
                span.time 8:30 - 13:00 / 17:00 - 18:00
              li
                span.day Sun
                span.time 8:30 - 09:00 / 17:00 - 18:00
          .sidebar-block.reviews
            h4 Reviews
            p If you like our services, we’d appreciate you leaving a review on one of the below:
            a(href="/")
              span
                img(src="/images/icons/yell.svg", alt="Yell Logo").reviews-icon
                span Yell
              span
                img(src="/images/icons/review-stars.svg", alt="Review stars").reviews-stars
                span 5.0
            a(href="/")
              span
                img(src="/images/icons/facebook.svg", alt="Facebook Logo").reviews-icon
                span Facebook
              span
                img(src="/images/icons/review-stars.svg", alt="Review stars").reviews-stars
                span 5.0
            a(href="/")
              span
                img(src="/images/icons/google.svg", alt="Google Logo").reviews-icon
                span Google
              span
                img(src="/images/icons/review-stars.svg", alt="Review stars").reviews-stars
                span 5.0
    
    block listingResults
    block grey-strip
    
    block services
      .container
        h3 Our Services
      section.grey.our-services.row
        .container
          .cards.cards-4
            +serviceCardSales
            +serviceCardMods
            +serviceCardConversions
            +serviceCardServicing        
            
    block map
      section.map
        .container
          h3 Find Us
          a(href="https://www.google.co.uk/maps/place/Moorland+Self+Drive/@53.0941029,-2.1798971,15z/data=!4m5!3m4!1s0x0:0x1b87236bea61478f!8m2!3d53.0941029!4d-2.1798971" target="_blank").button
            img(src="/images/icons/directions.svg", alt="Get directions icon").button-icon
            span Get Directions
        #map

    block footer
      section.footer
        .container
          .footer-column
            h6 Services
            ul
              a(href="/")
                li Hire
              a(href="/sales")
                li Sales
              a(href="/leasing")
                li Leasing
              a(href="/conversions")
                li Conversions
              a(href="/modifications")
                li Modifications
              a(href="/servicing")
                li Servicing
          .footer-column
            h6 Links
            ul
              a(href="/")
                li Facebook
              a(href="/")
                li Google
              a(href="/")
                li Yell.com
              a(href="/")
                li Terms &amp; Conditions
              a(href="/")
                li Privacy Policy
          .footer-column
            h6 Contact
            ul
              li MSD Vehicle Solutions
              li Childerplay Road
              li Knypersley
              li Stoke-on-Trent
              li ST8 7PZ
            ul
              li
                a(href="tel:+441782517782")
                  img(src="/images/icons/phone.svg", alt="Phone Icon").contact-icon
                  span 01782 517782
              li 
                a(href="mailto:info@msdvehiclesolutions.co.uk")
                  img(src="/images/icons/email.svg", alt="Email Icon").contact-icon
                  span info@msdvehiclesolutions.co.uk
      .amp-footer
        .container
          p Website design &amp; development by #[a(href="https://amp.studio" target="_blank") AMP Studio] // Built with #[a(href="https://amp.studio/cms" target="_blank") AMP CMS]
          a(href="/admin") Sign In

    block footerScripts
      script
        include scripts/dist/googleMaps-min.js
      script(async defer src="https://maps.googleapis.com/maps/api/js?key= AIzaSyC_AdmAW49fbvOFD-xYJhW0nO6iyOzRPtk&callback=initMap")

    block extraFooterScripts