include _mixins/_serviceCardHire
include _mixins/_serviceCardSales
include _mixins/_serviceCardLeasing
include _mixins/_serviceCardCustoms
include _mixins/_serviceCardServicing
include _mixins/_vehicleCard
include _templates/head
include _templates/footer

doctype html
html
  +head
  body(class=(user ? 'signed-in' : ''))
    block nav
      nav.main-nav.row
        //- Admin Nav
        if user
          .admin-nav
            .container
              p.no-margin Signed in as 
                span.bold #{user.name}
              a(href='/dashboard') Control panel >>
        //- Main Nav
        .main-nav-container.container
          .mobile-nav-wrapper
            a(href="/")
              img.main-nav-main-logo(src="/images/logos/msd-logo-main-v1.svg", alt="MSD Vehicle Solutions Logo")
            .main-nav-dropdown-toggle Menu 
              .main-nav-dropdown-toggle-icon
                .main-nav-dropdown-toggle-icon-top
                .main-nav-dropdown-toggle-icon-middle
                .main-nav-dropdown-toggle-icon-bottom
          ul.main-nav-menu
            a(href="/" class=(currentPath.startsWith("/hire") || currentPath === "/" ? 'active' : ''))
              li Hire
            a(href="/sales" class=(currentPath.startsWith("/sales") ? 'active' : ''))
              li Sales
            a(href="/leasing" class=(currentPath.startsWith("/leasing") ? 'active' : ''))
              li Leasing
            a(href="/custom-vehicles" class=(currentPath.startsWith("/custom-vehicles") ? 'active' : ''))
              li Custom Vehicles
            a(href="/servicing" class=(currentPath.startsWith("/servicing") ? 'active' : ''))
              li Servicing
            a(href="/contact" class=(currentPath.startsWith("/contact") ? 'active' : ''))
              li Contact
          a(href="tel: +441782517782").call-to-book
            span.call-to-book-text CALL US TODAY
            span.call-to-book-number 01782 517782

    block top-flash
      .top-flash
        .container
          h4 Website launch deal: 10% off all vehicle hire until Jan 31st!
          a(href="/vehicles/hire/vans").button.button-secondary.button-ghost.button-small See vehicles

    block flash-messages
      if flashes
        - const categories = Object.keys(locals.flashes)
        each category in categories
          each message in flashes[category]
            .top-flash(class=`top-flash-${category}`)
              .container
                h4= message

    block coverImage
      .cover-image-container.row
        picture
          source(media="(max-width: 767px)" srcset="/images/cover-images/van-hire-600.jpg 1x")
          img(src="/images/cover-images/van-hire.jpg" alt="Cover Image - Vehicles for Hire")

    block articleHeader
      .container
        .article-header
          h1 Page Heading

    block pageContent
      section.container.content
        block articleContent
          article
            p Article content

        block sidebar
          aside
            block quoteForm
              //- Instant quote form goes here

            a(href="tel: +441782517782").call-to-book.medium-hide
              span.call-to-book-text CALL US TODAY
              span.call-to-book-number 01782 517782

            .sidebar-block
              h4 Opening Hours
              ul.opening-times
                li
                  span.day Mon - Fri
                  span.time 8:30 - 18:00
                li
                  span.day Sat
                  span.time 8:30 - 13:00 / 17:00 - 18:00
                li
                  span.day Sun
                  span.time 8:30 - 09:00 / 17:00 - 18:00
            .sidebar-block.reviews
              h4 Reviews
              p If you like our services, we’d appreciate you leaving a review on one of the below:
              a(href="/")
                span
                  img(src="/images/icons/yell.svg", alt="Yell Logo").reviews-icon
                  span Yell
                span
                  img(src="/images/icons/review-stars.svg", alt="Review stars").reviews-stars
                  span 5.0
              a(href="/")
                span
                  img(src="/images/icons/facebook.svg", alt="Facebook Logo").reviews-icon
                  span Facebook
                span
                  img(src="/images/icons/review-stars.svg", alt="Review stars").reviews-stars
                  span 5.0
              a(href="/")
                span
                  img(src="/images/icons/google.svg", alt="Google Logo").reviews-icon
                  span Google
                span
                  img(src="/images/icons/review-stars.svg", alt="Review stars").reviews-stars
                  span 5.0

          block grey-strip  

    block promoted-items
    
    block listingResults
    
    block services
      .container
        h3 Our Services
      section.grey.no-margin
        .container
          .promoted-items.our-services.row
            .cards.cards-4
              block services-cards
                +serviceCardSales
                +serviceCardLeasing
                +serviceCardCustoms
                +serviceCardServicing
            
    block map

    block footer
      +footer     

    block footerScripts
      script
        include scripts/dist/mobileMenu-min.js

    block extraFooterScripts