include _mixins/_serviceCardHire
include _mixins/_serviceCardSales
include _mixins/_serviceCardLeasing
include _mixins/_serviceCardCustoms
include _mixins/_serviceCardServicing
include _mixins/_vehicleCard
include _mixins/_vehicleListing
include _templates/head
include _templates/footer

doctype html
html
  +head
  body(class=(user ? 'admin' : ''))
    block modal
    block nav
      nav.main-nav.row
        //- Admin Nav
        if user
          .admin-nav
            .container
              p.no-margin Signed in as 
                span.bold #{user.name}
              a(href='/admin') Edit listings >>
        //- Main Nav
        .main-nav-container.container
          .mobile-nav-wrapper
            a(href="/")
              img.main-nav-main-logo(src="/images/logos/msd-logo-main-v3.svg", alt="MSD Vehicle Solutions Logo")
            .main-nav-dropdown-toggle Menu 
              .main-nav-dropdown-toggle-icon
                .main-nav-dropdown-toggle-icon-top
                .main-nav-dropdown-toggle-icon-middle
                .main-nav-dropdown-toggle-icon-bottom
          ul.main-nav-menu
            li(class=(currentPath.startsWith("/hire") || currentPath === "/" ? 'active' : ''))
              a(href="/") Hire
            li(class=(currentPath.startsWith("/sales") ? 'active' : ''))
              a(href="/sales" ) Sales
            li(class=(currentPath.startsWith("/leasing") ? 'active' : ''))
              a(href="/leasing") Leasing
            li(class=(currentPath.startsWith("/customs") ? 'active' : ''))
              a(href="/customs") Custom Vehicles
            li(class=(currentPath.startsWith("/servicing") ? 'active' : ''))
              a(href="/servicing") Servicing
            li(class=(currentPath.startsWith("/contact") ? 'active' : ''))
              a(href="/contact") Contact
          a(href="tel: +441782517782").call-to-book
            span.call-to-book-text CALL US TODAY
            span.call-to-book-number 01782 517782

    block top-flash
      .top-flash
        .container
          h4 Get #[strong 10% off] all van hire until Jan 31st!
          a(href="/vehicles/hire/vans").button.button-secondary.button-ghost.button-small See vehicles

    block flash-messages
      if flashes
        - const categories = Object.keys(locals.flashes)
        each category in categories
          each message in flashes[category]
            .top-flash(class=`top-flash-${category}`)
              .container
                h4= message
              .button.button-flash-remove(onClick="this.parentElement.remove()") &times;

    block coverImage
      //- .cover-image-container.row
      //-   picture
      //-     source(media="(max-width: 767px)" srcset="/images/cover-images/van-hire-600.jpg 1x")
      //-     img(src="/images/cover-images/van-hire.jpg" alt="Cover Image - Vehicles for Hire")

    block articleHeader
      .container
        .article-header
          h1 Page Heading

    block pageContent
      section.container.content
        if device === "phone"
          block quoteForm
        block articleContent
          article
            p Article content

        block sidebar
          aside
            if device !== "phone"
              block quoteForm            
            block sidebarCallToday
              a(href="tel: +441782517782").call-to-book.medium-hide
                span.call-to-book-text CALL US TODAY
                span.call-to-book-number 01782 517782

            .sidebar-block
              h4 Opening Hours
              ul.opening-times
                li
                  span.day Mon - Fri
                  span.time 8:30 - 18:00
                li
                  span.day Sat
                  span.time 8:30 - 13:00 / 17:00 - 18:00
                li
                  span.day Sun
                  span.time 8:30 - 09:00 / 17:00 - 18:00
            .sidebar-block.reviews
              h4 Reviews
              p If you like our services, we’d appreciate you leaving a review on one of the below:
              a(href="https://www.yell.com/biz/moorland-self-drive-stoke-on-trent-1450665/" target="_blank")
                span
                  img(src="/images/icons/yell.svg", alt="Yell Logo").reviews-icon
                  span Yell
                span
                  img(src="/images/icons/review-stars.svg", alt="Review stars").reviews-stars
                  span 5.0
              a(href="https://www.facebook.com/msdcustomcommercials" target="_blank")
                span
                  img(src="/images/icons/facebook.svg", alt="Facebook Logo").reviews-icon
                  span Facebook
                span
                  img(src="/images/icons/review-stars.svg", alt="Review stars").reviews-stars
                  span 5.0
              a(href="https://www.google.co.uk/maps/place/Moorland+Self+Drive/@53.0941029,-2.1798971,15z/data=!4m5!3m4!1s0x0:0x1b87236bea61478f!8m2!3d53.0941029!4d-2.1798971" target="_blank")
                span
                  img(src="/images/icons/google.svg", alt="Google Logo").reviews-icon
                  span Google
                span
                  img(src="/images/icons/review-stars.svg", alt="Review stars").reviews-stars
                  span 5.0

          block grey-strip  

    block promoted-items
    
    block listingResults
    
    block services
      .container
        h3 Our Services
      section.grey.no-margin
        .container
          .promoted-items.our-services.row
            .cards.cards-4
              block services-cards
                +serviceCardSales
                +serviceCardLeasing
                +serviceCardCustoms
                +serviceCardServicing
            
    block map
      //- section.map
      //-   .container
      //-     h3 Find Us
      //-     a(href="https://www.google.co.uk/maps/place/Moorland+Self+Drive/@53.0941029,-2.1798971,15z/data=!4m5!3m4!1s0x0:0x1b87236bea61478f!8m2!3d53.0941029!4d-2.1798971" target="_blank").button
      //-       img(src="/images/icons/directions.svg", alt="Get directions icon").button-icon
      //-       span Get Directions
      //-   #map

    block footer
      +footer

    block footerScripts
      script
        include scripts/dist/mobileMenu-min.js
      //- script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_AdmAW49fbvOFD-xYJhW0nO6iyOzRPtk&callback=initMap")
      //- script
      //-   include scripts/dist/googleMaps-min.js

    block extraFooterScripts