include _mixins/_serviceCardMods
include _mixins/_serviceCardSales
include _mixins/_serviceCardHire
include _mixins/_serviceCardConversions
include _mixins/_serviceCardServicing
include _mixins/_vehicleCard

doctype html
html
  head
    title= `${title || "Car & Van Hire in Stoke on Trent"} | MSD Vehicle Solutions`
    meta(name="description" content=`${description || "Flexible Car & Van Hire, Sales & Leasing for Personal & Commercial Use Across Staffordshire Since 1986. Open 7 Days Per Week, Call Us Or Drop In Today."}`)
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="theme-color" content="#16467B")
    link(rel="icon" type="image/png" href="/images/favicon/favicon.png")

    //- Inline CSS for production mode, otherwise use <link> to allow BrowserSync to inject changes during development
    if production
      style
        include ../public/css/style.css
    else
      link(rel='stylesheet' href=`/css/style.css?ver=${cssHash}` type="text/css")

    //- Preload fonts & CSS assets rather than wait for CSS to parse and request them. Much faster page loading speed in supported browsers.
    link(rel='preload' href='/fonts/exo2-semibold-webfont.woff2' as='font' type="font/woff2" crossorigin)
    link(rel='preload' href='/fonts/exo2-light-webfont.woff2' as='font' type="font/woff2" crossorigin)
    link(rel='preload' href='/fonts/OpenSans-Regular.woff2' as='font' type="font/woff2" crossorigin)
    link(rel='preload' href='/fonts/OpenSans-Semibold.woff2' as='font' type="font/woff2" crossorigin)
    link(rel='preload' href='/images/icons/tick.png' as='image' type="image/png")
    link(rel='preload' href='/images/icons/arrow-right.svg' as='image' type="image/svg+xml")

  body
    block nav
      nav.main-nav.row
        .main-nav-container.container
          .mobile-nav-wrapper
            a(href="/")
              img.main-nav-main-logo(src="/images/logos/msd-logo-white.svg", alt="MSD Vehicle Solutions Logo")
            .main-nav-dropdown-toggle Menu 
              .main-nav-dropdown-toggle-icon
                .main-nav-dropdown-toggle-icon-top
                .main-nav-dropdown-toggle-icon-middle
                .main-nav-dropdown-toggle-icon-bottom
          ul.main-nav-menu
            a(href="/" class=(currentPath.endsWith("/") ? 'active' : ''))
              li Hire
            a(href="/sales" class=(currentPath.startsWith("/sales") ? 'active' : ''))
              li Sales
            a(href="/leasing" class=(currentPath.startsWith("/leasing") ? 'active' : ''))
              li Leasing
            a(href="/van-conversions" class=(currentPath.startsWith("/van-conversions") ? 'active' : ''))
              li Conversions
            a(href="/modifications" class=(currentPath.startsWith("/modifications") ? 'active' : ''))
              li Modifications
            a(href="/servicing" class=(currentPath.startsWith("/servicing") ? 'active' : ''))
              li Servicing
            a(href="/contact" class=(currentPath.startsWith("/contact") ? 'active' : ''))
              li Contact
          a(href="tel: +441782517782").call-to-book
            span.call-to-book-text CALL US TODAY
            span.call-to-book-number 01782 517782

    block top-flash
      .top-flash
        .container
          h4 Website launch deal: 10% off all vehicle hire until Jan 31st!
          a(href="/hire/vans").button.button-small See vehicles

    block coverImage
      .cover-image-container.row
        img(src="/images/cover-images/van-hire.jpg", alt="")

    block articleHeader
      .container
        .article-header
          h1 Small Heading
          h3 Large Heading

    section.container.content
      block articleContent
        article
          p Article content

      block sidebar
        aside
          block quoteForm
            //- Instant quote form goes here

          a(href="tel: +441782517782").call-to-book.medium-hide
            span.call-to-book-text CALL US TODAY
            span.call-to-book-number 01782 517782

          .sidebar-block
            h4 Opening Hours
            ul.opening-times
              li
                span.day Mon - Fri
                span.time 8:30 - 18:00
              li
                span.day Sat
                span.time 8:30 - 13:00 / 17:00 - 18:00
              li
                span.day Sun
                span.time 8:30 - 09:00 / 17:00 - 18:00
          .sidebar-block.reviews
            h4 Reviews
            p If you like our services, we’d appreciate you leaving a review on one of the below:
            a(href="/")
              span
                img(src="/images/icons/yell.svg", alt="Yell Logo").reviews-icon
                span Yell
              span
                img(src="/images/icons/review-stars.svg", alt="Review stars").reviews-stars
                span 5.0
            a(href="/")
              span
                img(src="/images/icons/facebook.svg", alt="Facebook Logo").reviews-icon
                span Facebook
              span
                img(src="/images/icons/review-stars.svg", alt="Review stars").reviews-stars
                span 5.0
            a(href="/")
              span
                img(src="/images/icons/google.svg", alt="Google Logo").reviews-icon
                span Google
              span
                img(src="/images/icons/review-stars.svg", alt="Review stars").reviews-stars
                span 5.0

        block grey-strip  
    
    block listingResults
    
    block services
      .container
        h3 Our Services
        .promoted-items.our-services.row
          .cards.cards-4
            +serviceCardSales
            +serviceCardMods
            +serviceCardConversions
            +serviceCardServicing        
            
    block map
      //- section.map
      //-   .container
      //-     h3 Find Us
      //-     a(href="https://www.google.co.uk/maps/place/Moorland+Self+Drive/@53.0941029,-2.1798971,15z/data=!4m5!3m4!1s0x0:0x1b87236bea61478f!8m2!3d53.0941029!4d-2.1798971" target="_blank").button
      //-       img(src="/images/icons/directions.svg", alt="Get directions icon").button-icon
      //-       span Get Directions
      //-   #map

    block footer
      section.footer
        .container
          .footer-column
            h6 Services
            ul
              a(href="/")
                li Hire
              a(href="/sales")
                li Sales
              a(href="/leasing")
                li Leasing
              a(href="/conversions")
                li Conversions
              a(href="/modifications")
                li Modifications
              a(href="/servicing")
                li Servicing
          .footer-column
            h6 Links
            ul
              a(href="/")
                li Facebook
              a(href="/")
                li Google
              a(href="/")
                li Yell.com
              a(href="/")
                li Terms &amp; Conditions
              a(href="/")
                li Privacy Policy
          .footer-column
            h6 Contact
            ul
              li MSD Vehicle Solutions
              li Childerplay Road
              li Knypersley
              li Stoke-on-Trent
              li ST8 7PZ
            ul
              li
                a(href="tel:+441782517782")
                  img(src="/images/icons/phone.svg", alt="Phone Icon").contact-icon
                  span 01782 517782
              li 
                a(href="mailto:info@msdvehiclesolutions.co.uk")
                  img(src="/images/icons/email.svg", alt="Email Icon").contact-icon
                  span info@msdvehiclesolutions.co.uk
      .amp-footer
        .container
          p Website design &amp; development by #[a(href="https://amp.studio" target="_blank") AMP Studio] // Built with #[a(href="https://amp.studio/cms" target="_blank") AMP CMS]
          a(href="/admin") Sign In

    block footerScripts
      script
        include scripts/dist/mobileMenu-min.js

    block extraFooterScripts