extends layout

include _mixins/_vehicleCard

block coverImage
  .cover-image-container.row
    picture
      source(media="(max-width: 767px)" srcset="/images/cover-images/vehicle-leasing-600.jpg 1x")
      img(src="/images/cover-images/vehicle-leasing.jpg" alt="Cover Image - Vehicles for Sale")

block articleHeader
  .container
    .article-header
      h1 Cheap Car &amp; Van Leasing Deals
          
block articleContent
  article
    p Leasing is the most affordable and flexible way to drive a new car with a fixed monthly cost. Our business &amp; personal leasing deals cover all shapes &amp; sizes of vehicle, and our selection changes regularly. Our flexible leasing options include Personal Contract Purchase (PCP), Hire Purchase (HP), Personal Contract Hire (PCH) and Business Contract Hire (BCH). Many of our vehicles are also available to #[a(href="/") hire] or #[a(href="/sales") buy].
    .split-container.vertical-padding
      .split
        img(src="/images/page-content/sales/cars-for-sale.jpg", alt="Lineup of cars for lease")
      .split
        h3 Cars for lease
        p Browse our current selection of affordable car lease deals.
        a(href="/vehicles/lease/cars").button See car deals
    .split-container.vertical-padding
      .split
        img(src="/images/page-content/sales/vans-for-sale.jpg", alt="Lineup of vans for lease")
      .split
        h3 Vans for lease
        p Our wide selection of van lease deals are perfect for any job.
        a(href="/vehicles/lease/vans").button See van deals
    h4 Why lease with MSD?
    p As an independent family business, we offer honest and friendly advice to help you pick the best leasing deal for your situation, and our #[a(href="/servicing" target="_blank") service and repair centre] can support your vehicle throughout the lease period and beyond. Need a specific vehicle? Call us and we'll order it directly for you.
    ul.list-ticks
      li Brand new registrations
      li Business or personal use
      li Affordable fixed monthly cost
      li Servicing packages
      li Tax &amp; MOT packages
      li Flexible finance

block promoted-items
  if Object.keys(vehicles).length > 0
    .container
      h3 Latest Lease Deals
    section.grey
      .container
        .promoted-items.row
          .cards
            each vehicle in vehicles
              +vehicleCard(vehicle, "lease")
          .row.center-content
            a(href="/vehicles/lease/cars").button.no-margin See all vehicles  

block services-cards
  +serviceCardHire
  +serviceCardSales
  +serviceCardCustoms
  +serviceCardServicing  

block extraFooterScripts
  script
    include scripts/dist/quoteForm-min.js