extends listing

block heading
  h1 Vans for Hire
  p We offer a range of #[a(href="/van-sizes") van sizes] to suit any job, and many are available to #[a(href="/leasing/vans") lease] or #[a(href="/sales/vans") buy]. You can use the calculator on the homepage for an estimated cost. Please call us on 01782 517782 to check availability and to hire our vans. 
  a(href="/van-sizes" target="_blank").button Van size guide
  a(href="/hire/cars").button.button-secondary Cars for Hire

block headingImage
  img(src="/images/page-content/listings/vans-forecourt.jpg", alt="Vans on forecourt").no-margin