extends listing

block heading
  h1 Vans for Sale
  p We offer a range of vehicle sizes to suit any job, and many are available to #[a(href="/") hire] or #[a(href="/leasing") lease]. Please call us on 01782 517782 to check availability and to buy our vehicles. 
  a(href="/van-sizes").button Van Size Guide
  a(href="/sales/cars").button.button-secondary Cars for Sale