extends layout

block coverImage
block articleHeader
block pageContent
  .full-width.listing-selection
    .container
      .listing-selection-text I want to
      .listing-selection-dropdown.type 
        span #{params.selectedOptionType}
        .listing-selection-dropdown-group
          .listing-selection-dropdown-group-triangle
          .listing-selection-dropdown-group-option(data-value="Hire") Hire
          .listing-selection-dropdown-group-option(data-value="Lease") Lease
          .listing-selection-dropdown-group-option(data-value="Buy") Buy
      .listing-selection-text a
      .listing-selection-dropdown.vehicle
        span #{params.selectedOptionVehicle}
        .listing-selection-dropdown-group
          .listing-selection-dropdown-group-triangle
          .listing-selection-dropdown-group-option(data-value="Van") Van
          .listing-selection-dropdown-group-option(data-value="Car") Car
      button.button.button-secondary.button-ghost Update       

block listingResults
  .container
    block listingFilter
      .listing-filter
        span
          label Sort by:
          select(name="sort")
            option(value="Price (Low-High)") Price (Low-High)
            option(value="Price (High-Low)") Price (High-Low)
        span
          label Seats:
          select(name="seats")
            option(value="all") All
            option(value="2") 2
            option(value="3") 3
            option(value="4") 4
        span
          label Transmission:
          select(name="transmission")
            option(value="all") All
            option(value="manual") Manual
            option(value="automatic") Automatic
        span
          label Cargo:
          select(name="cargo")
            option(value="all") All
            option(value="0-1000kg") 0-1000kg
            option(value="1000-2000kg") 1000-1500kg
            option(value="2000-3000kg") 1500-2000kg
        span
          label Fuel:
          select(name="fuel")
            option(value="all") All
            option(value="petrol") Petrol
            option(value="diesel") Diesel
    .cards.listing-results
      +vehicleCard
      +vehicleCard
      +vehicleCard
      +vehicleCard
      +vehicleCard
      +vehicleCard
      +vehicleCard
      +vehicleCard
      +vehicleCard
      +vehicleCard
      +vehicleCard
      +vehicleCard

block extraFooterScripts
  script
    include scripts/dist/listingSelection-min.js