extends layout

block coverImage
block articleHeader
block pageContent
  .full-width.listing-selection
    .container
      .listing-selection-text I want to
      .listing-selection-dropdown.type 
        span #{params.selectedOptionType}
        .listing-selection-dropdown-group
          .listing-selection-dropdown-group-triangle
          .listing-selection-dropdown-group-option(data-value="Hire") Hire
          .listing-selection-dropdown-group-option(data-value="Lease") Lease
          .listing-selection-dropdown-group-option(data-value="Buy") Buy
      .listing-selection-text a
      .listing-selection-dropdown.vehicle
        span #{params.selectedOptionVehicle}
        .listing-selection-dropdown-group
          .listing-selection-dropdown-group-triangle
          .listing-selection-dropdown-group-option(data-value="Van") Van
          .listing-selection-dropdown-group-option(data-value="Car") Car
      button.button.button-secondary.button-ghost Update       

block listingResults
  .container.listing
    block listingFilter
      .space-between
        h4.no-margin Filter Results
        p.no-margin Showing #[strong 13] vehicles
      .listing-filter
        span
          label Sort by:
          select(name="sort")
            option(value="Price (Low-High)") Price (Low-High)
            option(value="Price (High-Low)") Price (High-Low)
        span
          label Size:
          select(name="size")
            option(value="all") All
            option(value="van-small") Small
            option(value="van-medium") Medium
            option(value="van-large") Large
            option(value="van-xlarge") X-Large
        span
          label Seats:
          select(name="seats")
            option(value="all") All
            option(value="2") 2
            option(value="3") 3
            option(value="4+") 4+
        span
          label Fuel:
          select(name="fuel")
            option(value="all") All
            option(value="petrol") Petrol
            option(value="diesel") Diesel
        button.button.button-secondary.no-margin Filter
    .cards.listing-results
      +vehicleCard
      +vehicleCard
      +vehicleCard
      +vehicleCard
      +vehicleCard
      +vehicleCard
      +vehicleCard
      +vehicleCard
      +vehicleCard
      +vehicleCard
      +vehicleCard
      +vehicleCard

block extraFooterScripts
  script
    include scripts/dist/listingSelection-min.js