extends layout

block coverImage
block articleHeader
block pageContent  

block listingResults
  - const vehicleCount = Object.keys(vehicles).length
  .container.listing
    block listingFilter
      .space-between
        h4.no-margin Vehicles for !{selectedOptionType}
        p.no-margin Showing #[strong= vehicleCount] vehicles
      
      form.listing-filter
        .listing-filter-group
          span
            label Sort by:
            select(name="sort")
              option(value="price-low" selected=(query.sort === "price-low" || !query.sort)) Price (Low-High)
              option(value="price-high" selected=(query.sort === "price-high")) Price (High-Low)
          span
            label Category:
            select(name="size")
              option(value="all" selected=(query.size === "all" || !query.size)) All
              option(value="all-cars" selected=(query.size === "all-cars")) All Cars
              option(value="all-vans" selected=(query.size === "all-vans")) All Vans
              option(value="car-economy" selected=(query.size === "car-economy")) Economy Car
              option(value="car-hatchback" selected=(query.size === "car-hatchback")) Hatchback
              option(value="car-saloon" selected=(query.size === "car-saloon")) Saloon
              option(value="car-performance" selected=(query.size === "car-performance")) Performance Car
              option(value="car-suv" selected=(query.size === "car-suv")) SUV
              option(value="car-truck" selected=(query.size === "car-truck")) Truck
              option(value="car-minibus" selected=(query.size === "car-minibus")) Minibus
              option(value="van-small" selected=(query.size === "van-small")) Small Van
              option(value="van-medium" selected=(query.size === "van-medium")) Medium Van
              option(value="van-large" selected=(query.size === "van-large")) Large Van
              option(value="van-luton" selected=(query.size === "van-luton")) Luton Van
          span
            label Seats:
            select(name="seats")
              option(value="all" selected=(query.seats === "all" || !query.seats)) All
              option(value="2" selected=(query.seats === "2")) 2
              option(value="3" selected=(query.seats === "3")) 3
              option(value="4+" selected=(query.seats === "4+")) 4+
          span
            label Fuel:
            select(name="fuel")
              option(value="all") All
              option(value="petrol") Petrol
              option(value="diesel") Diesel
        button.button.button-secondary.no-margin Filter
    if vehicleCount > 0
      .cards.listing-results
        each vehicle in vehicles
          +vehicleCard(vehicle, type)
      p Can't find what you're looking for? Our stock is always changing, so #[a(href="/contact") call us today] to find out how we can help.
      
    else
      h5 No vehicles found
        

block extraFooterScripts
  script
    include scripts/dist/listingSelection-min.js