extends listing

block heading
  h1 Cars for Hire
  p We offer a range of vehicles to suit any job, and many are available to #[a(href="/leasing/cars") lease] or #[a(href="/sales/cars") buy]. You can use the calculator on the homepage for an estimated cost. Please call us on 01782 517782 to check availability and to hire our vans. 
  a(href="/hire/vans").button.button-secondary Vans for Hire

block headingImage
  img(src="/images/page-content/listings/cars-forecourt.jpg", alt="Cars on forecourt").no-margin