extends listing

block heading
  h1 Vans for Lease
  p Find your perfect van at an affordable price! Ideal for business customers who need to carry tools or deliver parcels. Please call us on 01782 517782 to lease our vehicles.
  a(href="/leasing/cars").button.button-secondary Cars for Lease

block headingImage
  img(src="/images/page-content/listings/vans-forecourt.jpg", alt="Vans on forecourt").no-margin