extends listing

block heading
  h1 Cars for Lease
  p Find your perfect car at an affordable price! We offer multiple types of leasing agreement – Personal Contract Purchase (PCP), Hire Purchase (HP), Personal Contract Hire (PCH) and Business Contract Hire (BCH). Please call us on 01782 517782 to lease our vehicles.
  a(href="/leasing/vans").button.button-secondary Vans for Lease

block headingImage
  img(src="/images/page-content/listings/cars-forecourt.jpg", alt="Cars on forecourt").no-margin