extends layout

block coverImage
  .cover-image-container.row
    picture
      source(media="(max-width: 767px)" srcset="/images/cover-images/vehicle-modifications-600.jpg 1x")
      img(src="/images/cover-images/vehicle-modifications.jpg" alt="Cover Image - Vehicle Modifications")

block articleHeader
  .container
    .article-header
      h1 Car &amp; Van Mods in #[span.no-break Stoke-on-Trent]

block articleContent
  article
    p Whether you need your vehicle cleaned &amp; detailed, performance mods or bespoke cosmetics, our extensive experience with high performance cars and custom modifications allows us to work on cars and vans of any make and model. Take a look at our #[a(href="/van-conversions") van conversions] page or check out our #[a(href="https://www.facebook.com/msdcustomcommercials" target="_blank") Facebook] and #[a(href="https://www.instagram.com/msdcustomcommercials" target="_blank") Instagram] feeds to see what we’ve been up to recently.
    img(src="/images/page-content/modifications/nissan-skyline-performance.jpg", alt="Nissan Skyline")
    h4 Modification &amp; Performance Services
    p Our specialist mechanics can take on a wide range of tasks – call us today and find out how we can help.
    ul.list-ticks
      li Exhausts
      li Body kits
      li Ply-lining
      li DVD players &amp; stereos
      li Wheel &amp; Brake Kits
      li Seats, rollbars &amp; harnesses
      li Engine re-mapping
      li Spoilers &amp; aerodynamics
      li Turbo/superchargers
      li Race &amp; track day preparation

block grey-strip
  .space-between
    div.space-between-group
      img(src="/images/icons/instagram.png").instagram-logo
      h4.no-margin @msdcustomcommercials
    a(href="https://www.instagram.com/msdcustomcommercials" target="_blank").button.no-margin Follow on instagram
  #instafeed.row

block services-cards
  +serviceCardHire
  +serviceCardSales
  +serviceCardConversions
  +serviceCardServicing  

block extraFooterScripts
  script
    include scripts/dist/instafeed-lib.js
    include scripts/dist/instafeed-min.js