extends layout

include _mixins/_vehicleCard

block coverImage
  .cover-image-container.row
    picture
      source(media="(max-width: 767px)" srcset="/images/cover-images/vehicle-sales-600.jpg 1x")
      img(src="/images/cover-images/vehicle-sales.jpg" alt="Cover Image - Vehicles for Sale")

block articleHeader
  .container
    .article-header
      h1 New &amp; Used Vehicles for Sale
          
block articleContent
  article
    p With over 30 years experience in family-run vehicle sales, we're proud to deliver high quality customer service and great prices. Our selection of #[a(href="vehicles/sales/cars") cars] and #[a(href="vehicles/sales/vans") vans] is always changing and many of our vehicles can also be #[a(href="/leasing") leased] or #[a(href="/") hired] with competitive financing rates.
    .split-container.vertical-padding
      .split
        img(src="/images/page-content/sales/cars-for-sale.jpg", alt="Lineup of cars for sale")
      .split
        h3 Cars for sale
        p Find your perfect new car at Moorland Self Drive and drive it away the same day!
        a(href="/vehicles/sales/cars").button See car deals
    .split-container.vertical-padding
      .split
        img(src="/images/page-content/sales/vans-for-sale.jpg", alt="Lineup of cars for vans")
      .split
        h3 Vans for sale
        p Browse our wide selection of vans of all shapes and sizes.
        a(href="/vehicles/sales/vans").button See van deals
    h4 Why buy with Moorland Self Drive?
    p All of our vehicles are fully inspected and quality-assured before going on sale, and our on-site #[a(href="/servicing" target="_blank") service and repair centre] offers long-term support for your new vehicle.
    ul.list-ticks
      li MOT Certificate
      li HPI Clear
      li Full valet
      li Flexible financing
      li Warranties available
      li Same day drive away

block promoted-items
  if Object.keys(vehicles).length > 0
    .container
      h3 Latest Vehicle Sales
    section.grey
      .container
        .promoted-items.row
          .cards
            each vehicle in vehicles
              +vehicleCard(vehicle, "sales")
          .row.center-content
            a(href="/vehicles/sales/cars").button.no-margin See all vehicles    
block services-cards
  +serviceCardHire
  +serviceCardLeasing
  +serviceCardCustoms
  +serviceCardServicing  

block extraFooterScripts
  script
    include scripts/dist/quoteForm-min.js