mixin serviceCardMods
  a(href="/modifications").card
    img(src="/images/services/vehicle-modifications.jpg", alt="Vehicle Modifications")
    .card-text-container
      h5 Modifications
      ul.card-services
        li Exhausts
        li Air intakes
        li Wheels &amp; brakes
        li Lights &amp; electronics
        li Window tinting
    .button.button-secondary.button-card Find out more