mixin serviceCardLeasing
  a(href="/leasing").card
    img(src="/images/services/leasing.jpg", alt="Vehicle Sales and Leasing")
    .card-text-container
      h5 Vehicle Leasing
      ul.card-services
        li New &amp; used vehicles
        li Business &amp; personal leasing
        li Affordable fixed monthly cost
        li Short &amp; long-term leases
        li Brand new registrations
    .button.button-secondary.button-card Find out more