mixin serviceCardHire
  a(href="/").card
    img(src="/images/services/hire_v2.jpg", alt="Car & Van Hire")
    .card-text-container
      h5 Car &amp; Van Hire
      ul.card-services
        li New &amp; used vehicles
        li Business &amp; personal sales
        li Flexible financing
        li Short &amp; long-term leases
        li Brand new 67 registrations
    .button.button-secondary.button-card Find out more