mixin serviceCardConversions
  a(href="/van-conversions").card
    img(src="/images/services/van-conversions.jpg", alt="Van Conversions")
    .card-text-container
      h5 Van Conversions
      ul.card-services
        li Ply-lining &amp; insulation
        li Upholstery &amp; carpeting
        li DVD Players &amp; electronics
        li Camping conversions
        li Lighting
    .button.button-secondary.button-card Find out more