mixin serviceCardServicing
  a(href="/servicing").card
    img(src="/images/services/tyres-and-servicing.jpg", alt="Tyres and Servicing")
    .card-text-container
      h5 Servicing &amp; Tyres
      ul.card-services
        li Full services
        li Oil &amp; filter changes
        li Fluid top-ups
        li Spark plugs
        li Tyre changes
    .button.button-secondary.button-card Find out more