mixin serviceCardSales
  a(href="/sales").card
    img(src="/images/services/sales.jpg", alt="Vehicle Sales and Leasing")
    .card-text-container
      h5 Vehicle Sales
      ul.card-services
        li New &amp; used vehicles
        li Business &amp; personal sales
        li Flexible financing
        li Short &amp; long-term leases
        li Brand new registrations
    .button.button-secondary.button-card Find out more