mixin serviceCardCustoms
  a(href="/customs").card
    img(src="/images/services/van-conversions_v2.jpg", alt="Van Conversions")
    .card-text-container
      h5 Custom Vehicles
      ul.card-services
        li Ply-lining &amp; insulation
        li Upholstery &amp; carpeting
        li DVD Players &amp; electronics
        li Camping conversions
        li Window tinting
    .button.button-secondary.button-card Find out more