mixin serviceCardHire
  a(href="/").card
    img(src="/images/services/car-and-van-hire.jpg", alt="Car & Van Hire")
    h5 Car &amp; Van Hire
    ul.card-services
      li New &amp; used vehicles
      li Business &amp; personal sales
      li Flexible financing
      li Short &amp; long-term leases
      li Brand new 67 registrations
    .button.button-secondary.button-card Find out more