mixin vehicleListing(vehicle = {})
  a(href="/vehicles/ford-transit-2015").listing-results-entry
    img(src="/images/vehicles/ford-transit-small.jpg", alt="Ford Transit Small").no-margin
    .listing-results-entry-text-container
      .space-between
        h5 Ford Transit
        h6 2015
      .space-between
        .card-link Edit Vehicle
        ul.card-availability
          li Hire
          li Lease
          li Buy