mixin vehicleCard(vehicle = {})
  .card
    img(src="/images/vehicles/ford-transit-small.jpg", alt="Ford Transit Small")
    .card-price £60
    h5 Ford Transit (Small)
    ul.vehicle-details
      li
        span Storage size (cm)
        span 78w x 79h x 191d
      li
        span Max cargo
        span 2185kg
      li
        span Seats
        span 3
      li
        span Engine size
        span 1.6L
      li
        span Fuel type
        span Diesel
      li
        span Fuel economy
        span 35mpg
      li
        span Transmission
        span Manual
      li
        span Vehicle Height
        span 2.4m
      li
        span Mileage
        span 64800
      li
        span Year
        span 2015
    a(href="tel: +441782517782").button.button-secondary.button-card More Info