mixin vehicleCard(vehicle = {})
  .card.card-border-bottom
    img(src="/images/vehicles/ford-transit-small.jpg", alt="Ford Transit Small")
    .card-price £60
      .card-price-text per day
      if vehicle.promoted
        .card-price-promoted Promoted
    .card-text-container
      .space-between
        h5 Ford Transit
        h6 Small
      //- .vehicle-details.
      //-   Manual  |  2 Seats  |  940kg cargo  |  2015
      .space-between
        a(href="/vehicles/ford-transit-2015-small").card-link More Info
        ul.card-availability
          li Hire
          li Lease