mixin footer
  section.footer
    .container
      .footer-column
        h6 Services
        ul
          a(href="/")
            li Hire
          a(href="/sales")
            li Sales
          a(href="/leasing")
            li Leasing
          a(href="/customs")
            li Custom Vehicles
          a(href="/servicing")
            li Servicing
      .footer-column
        h6 Links
        ul
          a(href="https://www.facebook.com/msdcustomcommercials" target="_blank")
            li Facebook
          a(href="https://www.google.co.uk/maps/place/Moorland+Self+Drive/@53.0941029,-2.1798971,15z/data=!4m5!3m4!1s0x0:0x1b87236bea61478f!8m2!3d53.0941029!4d-2.1798971" target="_blank")
            li Google
          a(href="/" target="_blank")
            li Yell.com
          a(href="/")
            li Terms &amp; Conditions
          a(href="/")
            li Privacy Policy
      .footer-column
        h6 Contact
        ul
          li Moorland Self Drive
          li Childerplay Road
          li Knypersley
          li Stoke-on-Trent
          li ST8 7PZ
        ul
          li
            a(href="tel:+441782517782")
              img(src="/images/icons/phone.svg", alt="Phone Icon").contact-icon
              span 01782 517782
          li 
            a(href="mailto:info@moorlandselfdrive.co.uk")
              img(src="/images/icons/email.svg", alt="Email Icon").contact-icon
              span info@moorlandselfdrive.co.uk
      p.no-margin.small Moorland Self-Drive and MSD Custom Commercials are trading names of Basesweep Ltd. VAT No. GB 435 5629 38
  .amp-footer
    .container
      p Website by #[a(href="https://amp.studio" target="_blank") AMP Studio]
      if user
        a(href="/logout") Log out
      else
        a(href="/login") Log In