$breakpointLarge = 1280px
$breakpointMedium = 1023px
$breakpointSmall = 767px
$breakpointXSmall = 360px

$richBlack = #081C31

$softGrey = #F8F8F8
$hoverGrey = #EEEEEE
$greyBorders = #DEDEDE
$greyButton = #aaa
$greyButtonHover = #888

$mainBlue = #1A5798
$darkBlue = #16467B
$lightBlue = #3570A7

$mainGreen = #5FA314
$darkGreen = #4B820F
$lightGreen = #73C31A

$error = #b22222
$errorDark = #871a1a
$errorLight = #d73030

$warning = #FFA500
$warningDark = #cc8400
$warningLight = #ffb732

$openSansRegular = "Open Sans Regular", Helvetica, Arial, sans-serif
$openSansSemibold = "Open Sans Semibold", Helvetica, Arial, sans-serif
$exoLight = "Exo Light", Helvetica, Arial, sans-serif
$exoSemibold = "Exo Semibold", Helvetica, Arial, sans-serif
