$breakpointLarge = 1280px
$breakpointMedium = 1023px
$breakpointSmall = 767px
$breakpointXSmall = 360px

$mainBlue = #1A5798
$darkBlue = #16467B
$lightBlue = #4282CA

$mainGreen = #5FA314
$darkGreen = #4B820F
$lightGreen = #73C31A

$softGrey = #F8F8F8
$hoverGrey = #EEEEEE
$greyBorders = #DEDEDE
$richBlack = #081C31

$error = firebrick

$openSansRegular = "Open Sans Regular", Helvetica, Arial, sans-serif
$openSansSemibold = "Open Sans Semibold", Helvetica, Arial, sans-serif
$exoLight = "Exo Light", Helvetica, Arial, sans-serif
$exoSemibold = "Exo Semibold", Helvetica, Arial, sans-serif
