button, .button
  padding 1.2rem 2rem
  background-color $mainGreen
  color white
  margin-right 1.8em
  margin-bottom 2em
  border-radius 3px
  text-transform uppercase
  letter-spacing 0.1em
  box-sizing border-box
  display inline-flex
  justify-content center
  outline none 
  border none
  font-size 1.6rem
  line-height 1.8rem

  &.float-right
    float right 
    margin-right 0
    display inline-block

  &:hover 
    background-color $darkGreen
    cursor pointer

  &-small
    padding 0.5rem 0.8rem
    
    margin 0
    font-size 1.4rem
    
  &-secondary
    background-color $mainBlue

    &:hover 
      background-color $lightBlue

    &.button-ghost:hover
      background-color white
      color $mainBlue
  
  &-danger
    background-color $error

    &:hover 
      background-color $errorDark
  
  &-grey
    background-color $greyButton

    &:hover 
      background-color $greyButtonHover
  
  &-ghost
    background none 
    border 1px solid white

  &-icon
    width 2rem
    float left 
    margin-right 1rem
    display inline-block

  &-card
    border-radius 0
    width calc(100% + 1.5rem)
    margin 0 -.75rem
    box-sizing border-box
    background-image url("/images/icons/arrow-right.svg")
    background-repeat no-repeat
    background-position right 2.25rem center
    transition background-position 0.3s ease-in-out

    &:hover
      background-position right 1.5rem center

  &-flash-remove
    position absolute
    right 1rem
    margin 0
    padding 1rem .7rem 1rem 1rem
    box-sizing border-box
    background-color $mainBlue
    color $lightBlue
    font-size 3rem

    &:hover
      background-color $darkBlue