*
  font-family $openSansRegular

html
  font-size 10px
  line-height 1.8em
  -ms-text-size-adjust 100%
  -webkit-text-size-adjust 100%
  padding 0
  margin 0

body
  padding 0
  margin 0
  font-size 1.8rem
  color $richBlack

a, li
  text-decoration none
  list-style none

li
  white-space nowrap

img, svg
  display block
  width 100%
  border 0

ul
  padding-left 0

fieldset 
  margin 0
  padding 0
  border none 