.button 
  padding 13px 20px
  background-color $mainGreen
  color white
  margin-right 1.8em
  margin-bottom 1.8em
  border-radius 5px
  text-transform uppercase
  letter-spacing 0.1em
  box-sizing border-box
  display inline-block

  &:hover 
    background-color $darkGreen
    
  &-secondary
    background-color $mainBlue

    &:hover 
      background-color $darkBlue

  &-card
    border-radius 0
    width calc(100% + 1.5rem)
    margin 0 -.75rem
    box-sizing border-box