.container
  width 100%
  max-width 1260px
  margin 0 auto
  padding 0 20px
  position relative
  display block

.row
  width 100%
  clear both

.centered
  margin 0 auto

.center-content
  text-align center

.no-margin
  margin 0 !important

.no-padding
  padding 0

.vertical-padding
  padding 2rem 0

.space-between
  display flex
  justify-content space-between
  align-items center

  &-group
    display flex
    align-items center

.split
  width calc(50% - 2rem)

  &-container
    display flex
    justify-content space-between