@font-face
  font-family "Open Sans Regular"
  font-weight 400
  src url(/fonts/OpenSans-Regular.woff2) format("woff2"),
      url(/fonts/OpenSans-Regular.woff) format("woff")

@font-face
  font-family "Open Sans Semibold"
  font-weight 600
  src url(/fonts/OpenSans-Semibold.woff2) format("woff2"),
      url(/fonts/OpenSans-Semibold.woff) format("woff")

@font-face
  font-family "Exo Light"
  font-weight 300
  src url(/fonts/exo2-light-webfont.woff2) format("woff2"),
      url(/fonts/exo2-light-webfont.woff) format("woff")

@font-face
  font-family "Exo Semibold"
  font-weight 300
  src url(/fonts/exo2-semibold-webfont.woff2) format("woff2"),
      url(/fonts/exo2-semibold-webfont.woff) format("woff")

h1, h2, h3, h4, h5, h6
  margin 0 
  line-height 1.5em
  font-family $exoSemibold
  color $mainBlue

h1
  font-size 7.2rem

h2
  font-size 4.2rem

h3
  font-size 3.6rem

h4
  font-size 2.8rem

h5
  font-size 2.4rem
  font-family $exoLight

h6
  font-size 1.6rem

a
  color $lightBlue

p
  line-height 1.6em
  margin 1rem 0 2.8rem 0

  a:hover
    text-decoration underline

ul
  margin 0
  line-height 1.6em
