@media (max-width: $breakpointLarge)
  html
    font-size 8.5px

  .content   
    // Maintains equal 2rem spacing between article and aside at exactly 1024px width
    aside
      max-width 45rem

  .container
    max-width 1050px

  .instant-quote form .options input 
    padding 1.5rem 2rem

  .instant-quote
    margin-top -19rem

  #map
    height 350px