@media (max-width: $breakpointLarge)
  html
    font-size 9px

  .content   
    // Maintains equal 2rem spacing between article and aside at exactly 1024px width
    aside
      max-width 41rem

  .instant-quote form .options input 
    padding 1.5rem 2rem

  // .listing-filter
  //   justify-content 

  #map
    height 350px